:root {
  --dark: #011627;
  --orange: #ff9f1c;
  --bright: #f2f2f8;
  --ice: #2ec4b6;
  --red: #dc3545;
}

body {
  display: flex;
  flex-direction: column; justify-content: center;
  min-height: 100vh;
  background-color: var(--bright);
  color: var(--dark);
  font-family: 'IBM Plex sans', sans-serif;
  font-size: clamp(1rem, 16px, 2rem);
}

.my-container {
  width: max(min(96vw, 300px), min(84vw, max(72vw, 900px)));
  margin: 0 auto;
}

.my-select {
  width: 100%;
}

.my-input {
  width: 100%;
}

.my-button {
  width: 100%;
}

.row {
  align-items: center;
}

.link-gray {
  padding: 0;
  color: var(--dark);
}

.link-gray:hover {
  color: var(--red);
}

.link-gray:focus {
  outline: none;
  box-shadow: none;
}

select {
  height: 30px;
}

span.line {
  display: inline-block;
}

span.note {
  font-size: clamp(1rem, 16px, 2rem);
  color: var(--dark);
}

h1, h2 {
  color: var(--red);
  font-weight: 700;
}

table {
  width: 100%;
}

tr {
  width: 100%;
}

td {
  padding-left: 8px;
}

td:first-child {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  color: var(--dark);
}

p {
  white-space: pre-wrap;
  color: var(--dark);
  margin-bottom: 0;
}

.imprint {
  font-size: clamp(0.75rem, 12px, 1.5rem);
}
